[project]
name = "practica-2-cn"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.8"
dependencies = [
    "boto3>=1.37.38",
    "loguru>=0.7.3",
]
